/* @import url('https://fonts.googleapis.com/css2?family=Lora:wght@500;600;700&display=swap'); */
*{
font-family: 'Flaviotte';
}
body{
background: rgb(21,32,43);
background: linear-gradient(90deg, rgba(21,32,43,1) 0%, rgba(50,30,46,1) 61%) center;
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
margin: 0;
}
.content{
background: rgba(0, 0, 0, 0.5);
height: 100%;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
h5{
color: #fff;
font-size: 24px;
font-style: italic;
margin: 0;
}
h3{
color: #fff;
margin: 0;
font-size: 160px;
font-weight: 6;
}
@media(max-width: 992px){
h3{
font-size: 100px;
}
h5{
font-size: 18px;
}
}
@media(max-width: 475px){
h3{
font-size: 70px;
}
h5{
font-size: 14px;
}
}
@media(max-width: 575px){
h3{
font-size: 60px;
}
h5{
font-size: 12px;
}
}